# Compiled source
*.o
*.so
*.so.2
*.so.2.1
*.a

# Backups and editor created backups
*.bak
*~

# flags for saying directory is complete
DONE

# imports of of headers
imports/x11

# exports of libraries/headers
exports
