XCOMM $XConsortium: fonts.tmpl /main/2 1996/09/13 17:55:52 drk $

/*
 * A template for building standard CDE fonts.
 */

OBJS = FontObj(dtinfo) $(LOCAL_OBJS)

CopySourceFile(dtinfo.bdf,$(CDESRC)/fontaliases/bdf)

MakeFonts()

FontTarget(dtinfo)
