/* $XConsortium: Title.tmpl /main/2 1996/06/19 16:20:11 drk $ */
/* TOC title, only what's between quotes should be modified. */
title = "Benutzerhandbuch f&uuml;r Fortgeschrittene und Systemverwalter"
