XCOMM $XConsortium: Chinese.tmpl /main/1 1995/12/08 09:41:25 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Chinese locale.
 */

SOURCE_LANG=zh_CN.dt-eucCN

#ifdef AlphaArchitecture
LANG=zh_CN
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=zh_CN
#endif

#ifdef SunArchitecture
LANG=zh
#endif

#ifdef HPArchitecture
LANG=zh_CN.hp15CN
#endif
