XCOMM $XConsortium: el_GR.UTF-8.tmpl /main/1 1995/12/08 09:41:11 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the el_GR.UTF-8 locale.
 */
LANG=el_GR.UTF-8

SOURCE_LANG=el_GR.UTF-8
