XCOMM $XConsortium: German.tmpl /main/1 1995/12/08 09:41:46 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the German locale.
 */

#if BuildingDocs

XCOMM stick to ISO8859-1
SOURCE_LANG=de_DE.ISO8859-1

#ifdef SunArchitecture
LANG=de
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=de_DE.ISO8859-1
#endif

#else

XCOMM use UTF-8 for localization
SOURCE_LANG=de_DE.UTF-8

#ifdef SunArchitecture
LANG=de
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=de_DE.UTF-8
#endif

#endif
