XCOMM $XConsortium: German.tmpl /main/1 1995/12/08 09:41:46 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the German locale.
 */

SOURCE_LANG=de_DE.ISO8859-1

#ifdef AlphaArchitecture
LANG=de_DE.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=de_DE
#endif

#ifdef SunArchitecture
LANG=de
#endif

#ifdef HPArchitecture
LANG=de_DE.iso88591
#endif

#ifdef USLArchitecture
LANG=de
#endif

#ifdef UXPArchitecture
LANG=de
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=de_DE.ISO8859-1
#endif
