XCOMM $XConsortium: Japanese.tmpl /main/1 1995/12/08 09:42:04 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Japanese locale.
 */

SOURCE_LANG=ja_JP.dt-eucJP

#ifdef AlphaArchitecture
LANG=ja_JP.eucJP
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=ja_JP
#endif

#ifdef SunArchitecture
LANG=ja
#endif

#ifdef HPArchitecture
LANG=ja_JP.eucJP
#endif
