XCOMM $XConsortium: Korean.tmpl /main/1 1995/12/08 09:42:15 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Korean locale.
 */

SOURCE_LANG=ko_KR.dt-eucKR

#ifdef AlphaArchitecture
LANG=ko_KR
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=ko_KR
#endif

#ifdef SunArchitecture
LANG=ko
#endif

#ifdef HPArchitecture
LANG=ko_KR.eucKR
#endif
