XCOMM $TOG: msg.C.tmpl /main/16 1998/08/11 17:02:05 mgreess $

#ifdef RsArchitecture
SHELL=/bin/ksh
#endif

#ifdef SunArchitecture
.NO_PARALLEL:
#endif


OBJS= \
      Xm.cat		\
      Mrm.cat		\
      Uil.cat		\
      DtHelp.cat	\
      fmt_tbl.cat	\
      DtMail.cat	\
      DtPrint.cat	\
      DtWidget.cat	\
      MotifApp.cat	\
      SUNW_TOOLTALK.cat \
      dt.cat		\
      dtact.cat		\
      dtbuilder.cat	\
      dtcalc.cat	\
      dtcm.cat		\
      dtcodegen.cat	\
      dtconfig.cat	\
      dtcopy.cat	\
      dtcreate.cat	\
      dtfile.cat	\
      dthello.cat	\
      dthelpgen.cat	\
      dthelpprint.cat	\
      dticon.cat	\
      dtimsstart.cat	\
      dtinfo.cat	\
      dtinfo_start.cat	\
      dtksh.cat		\
      dtlogin.cat	\
      dtlp.cat		\
      dtmailopts.cat	\
      dtpad.cat		\
      dtpdm.cat		\
      dtpdmd.cat	\
      dtprintinfo.cat	\
      dtscreen.cat	\
      dtsearch.cat      \
      dtsession.cat	\
      dtstyle.cat	\
      dtterm.cat	\
      dttypes.cat	\
      dtwm.cat		\
      dtudcexch.cat     \
      dtudcfonted.cat   \
      libdtcm.cat   \
      libDtMail.cat

all:: $(OBJS)

clean::
	$(RM) $(OBJS)

RandomMotifMessageCatalogRule(Xm)
RandomMotifMessageCatalogRule(Mrm)
RandomMotifMessageCatalogRule(Uil)

LinkFile(DtHelp.msg,$(CDELIBSRC)/DtHelp/DtHelp.msg)
LinkFile(fmt_tbl.msg,$(CDELIBSRC)/DtHelp/fmt_tbl.msg)
LinkFile(DtMail.msg,$(CDESRC)/dtmail/dtmail/DtMail.msg)
LinkFile(DtPrint.msg,$(CDELIBSRC)/DtPrint/DtPrint.msg)
LinkFile(DtWidget.msg,$(CDELIBSRC)/DtWidget/DtWidget.msg)
LinkFile(MotifApp.msg,$(CDESRC)/dtmail/MotifApp/MotifApp.msg)
LinkFile(SUNW_TOOLTALK.msg,$(TOP)/lib/tt/SUNW_TOOLTALK.msg)
LinkFile(dt.msg,$(CDELIBSRC)/DtSvc/dtsvc.msg)
LinkFile(dtact.msg,$(CDESRC)/dtaction/dtact.msg)
LinkFile(dtbuilder.msg,$(CDESRC)/dtappbuilder/src/ab/dtbuilder.msg)
LinkFile(dtcalc.msg,$(CDESRC)/dtcalc/dtcalc.msg)
LinkFile(dtcm.msg,$(CDESRC)/dtcm/dtcm/dtcm.msg)
LinkFile(dtcodegen.msg,$(CDESRC)/dtappbuilder/src/abmf/dtcodegen.msg)
LinkFile(dtconfig.msg,$(CDESRC)/dtconfig/dtconfig.msg)
LinkFile(dtcopy.msg,$(CDESRC)/dtfile/dtcopy/dtcopy.msg)
LinkFile(dtcreate.msg,$(CDESRC)/dtcreate/dtcreate.msg)
LinkFile(dtfile.msg,$(CDESRC)/dtfile/dtfile.msg)
LinkFile(dthello.msg,$(CDESRC)/dthello/dthello.msg)
LinkFile(dthelpgen.msg,$(CDESRC)/dthelp/dthelpgen/dthelpgen.msg)
LinkFile(dthelpprint.msg,$(CDESRC)/dthelp/dthelpprint/dthelpprint.msg)
LinkFile(dticon.msg,$(CDESRC)/dticon/dticon.msg)
LinkFile(dtimsstart.msg,$(CDESRC)/dtimsstart/dtimsstart.msg)
LinkFile(dtinfo.msg,$(CDESRC)/dtinfo/dtinfo/src/dtinfo.msg.updated)
LinkFile(dtinfo_start.msg,$(CDESRC)/dtinfo/clients/dtinfo_start/dtinfo_start.msg)
LinkFile(dtksh.msg,$(CDESRC)/dtksh/dtksh.msg)
LinkFile(dtlogin.msg,$(CDESRC)/dtlogin/dtlogin.msg)
LinkFile(dtlp.msg,$(CDESRC)/dtprintegrate/dtlp.msg)
LinkFile(dtmailopts.msg,$(CDESRC)/dtmail/dtmail/dtmailopts.msg)
LinkFile(dtpad.msg,$(CDESRC)/dtpad/dtpad.msg)
LinkFile(dtpdm.msg,$(CDESRC)/dtpdm/dtpdm.msg)
LinkFile(dtpdmd.msg,$(CDESRC)/dtpdmd/dtpdmd.msg)
LinkFile(dtprintinfo.msg,$(CDESRC)/dtprintinfo/dtprintinfo.msg)
LinkFile(dtscreen.msg,$(CDESRC)/dtscreen/dtscreen.msg)
LinkFile(dtsearch.msg,$(CDELIBSRC)/DtSearch/dtsearch.msg)
LinkFile(dtsession.msg,$(CDESRC)/dtsession/dtsession.msg)
LinkFile(dtstyle.msg,$(CDESRC)/dtstyle/dtstyle.msg)
LinkFile(dtterm.msg,$(CDESRC)/dtterm/dtterm.msg)
LinkFile(dttypes.msg,$(CDESRC)/util/dttypes/dttypes.msg)
LinkFile(dtwm.msg,$(CDESRC)/dtwm/dtwm.msg)
LinkFile(dtudcexch.msg,$(CDESRC)/dtudcexch/dtudcexch.msg)
LinkFile(dtudcfonted.msg,$(CDESRC)/dtudcfonted/dtudcfonted.msg)
LinkFile(libABil.msg,$(CDESRC)/dtappbuilder/src/libABil/libABil.msg)
LinkFile(libABobjXm.msg,$(CDESRC)/dtappbuilder/src/libABobjXm/libABobjXm.msg)
LinkFile(libAButil.msg,$(CDESRC)/dtappbuilder/src/libAButil/libAButil.msg)
LinkFile(libdtcm.msg,$(CDESRC)/dtcm/libDtCmP/libdtcm.msg)
LinkFile(libDtMail.msg,$(CDESRC)/dtmail/libDtMail/Common/libDtMail.msg)

clean::
	for i in *.msg; do \
		[ -z $$i ] && continue; \
		[ -h $$i ] && $(RM) $$i; \
	done; true; 

depend::
