XCOMM $XConsortium: Spanish.tmpl /main/1 1995/12/08 09:42:25 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Spanish locale.
 */

SOURCE_LANG=es_ES.ISO8859-1

#ifdef AlphaArchitecture
LANG=es_ES.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=es_ES
#endif

#ifdef SunArchitecture
LANG=es
#endif

#ifdef HPArchitecture
LANG=es_ES.iso88591
#endif

#ifdef USLArchitecture
LANG=es
#endif

#ifdef UXPArchitecture
LANG=es
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=es_ES.ISO8859-1
#endif
