XCOMM $XConsortium: Swedish.tmpl /main/1 1995/12/08 09:42:34 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Swedish locale.
 */

#if BuildingDocs

XCOMM stick to ISO8859-1
SOURCE_LANG=sv_SE.ISO8859-1

#ifdef SunArchitecture
LANG=sv
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=sv_SE.ISO8859-1
#endif

#else

XCOMM use UTF-8 for localization
SOURCE_LANG=sv_SE.UTF-8

#ifdef SunArchitecture
LANG=sv
#endif

#if defined(LinuxArchitecture) || defined(BSDArchitecture)
LANG=sv_SE.UTF-8
#endif

#endif
