XCOMM $XConsortium: Taiwanese.tmpl /main/1 1995/12/08 09:42:45 rswiston $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Taiwanese locale.
 */

SOURCE_LANG=zh_TW.dt-eucTW

#ifdef AlphaArchitecture
LANG=zh_TW.eucTW
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=zh_TW
#endif

#ifdef SunArchitecture
LANG=zh_TW
#endif

#ifdef HPArchitecture
LANG=zh_TW.ccdc
#endif
