XCOMM $TOG: types.tmpl /main/9 1998/08/05 18:05:45 mgreess $

#ifdef RsArchitecture
SHELL=/bin/ksh
#endif


OBJS1 =  \
	autoStart.dt \
	user-prefs.dt  \
	uxstd.dt  \
	dt.dt  \
	develop.dt  \
	datatypes.dt  \
	dtappman.dt  \
	dtfile.dt  \
	dtims.dt \
	dtinfo.dt \
	dtpad.dt  \
	xclients.dt  \
	dthelp.dt  \
	dthelpprint.dt  \
	print.dt  \
	dthelptag.dt  \
	dtmail.dt  \
	dtwm.fp  \
	dtscreen.dt \
	dtcm.dt \
	dtbuilder.dt \
	miscActions.dt \
	miscImages.dt \
	IconBrowse.dt

OBJS = $(OBJS1)

#ifdef HPArchitecture
OBJS = $(OBJS1) hp.dt
#endif

#ifdef RsArchitecture
OBJS = $(OBJS1) ibm.dt
#endif

OBJS2 = action

all:: $(OBJS) $(OBJS2)

depend::


LinkFile(autoStart.dt.nls,$(CDESRC)/types/autoStart.dt)
LinkFile(user-prefs.dt.nls,$(CDESRC)/types/user-prefs.dt)
LinkFile(uxstd.dt.nls,$(CDESRC)/types/uxstd.dt)
LinkFile(dt.dt.nls,$(CDESRC)/types/dt.dt)
LinkFile(develop.dt.nls,$(CDESRC)/types/develop.dt)
LinkFile(datatypes.dt.nls,$(CDESRC)/types/datatypes.dt)
LinkFile(dtappman.dt.nls,$(CDESRC)/types/dtappman.dt)
LinkFile(dtfile.dt.nls,$(CDESRC)/types/dtfile.dt)
LinkFile(dtims.dt.nls,$(CDESRC)/types/dtims.dt)
LinkFile(dtinfo.dt.nls,$(CDESRC)/types/dtinfo.dt)
LinkFile(dtpad.dt.nls,$(CDESRC)/types/dtpad.dt)
LinkFile(xclients.dt.nls,$(CDESRC)/types/xclients.dt)
LinkFile(dthelp.dt.nls,$(CDESRC)/types/dthelp.dt)
LinkFile(dthelpprint.dt.nls,$(CDESRC)/types/dthelpprint.dt)
LinkFile(print.dt.nls,$(CDESRC)/types/print.dt)
LinkFile(dthelptag.dt.nls,$(CDESRC)/types/dthelptag.dt)
LinkFile(dtmail.dt.nls,$(CDESRC)/types/dtmail.dt)
LinkFile(dtwm.fp.nls,$(CDESRC)/types/dtwm.fp)
LinkFile(action.nls,$(CDESRC)/types/action)
LinkFile(dtscreen.dt.nls,$(CDESRC)/types/dtscreen.dt)
LinkFile(dtcm.dt.nls,$(CDESRC)/types/dtcm.dt)
LinkFile(dtbuilder.dt.nls,$(CDESRC)/types/dtbuilder.dt)
LinkFile(miscActions.dt.nls,$(CDESRC)/types/miscActions.dt)
LinkFile(miscImages.dt.nls,$(CDESRC)/types/miscImages.dt)
LinkFile(IconBrowse.dt.nls,$(CDESRC)/types/IconBrowse.dt)

#ifdef HPArchitecture
LinkFile(hp.dt.nls,$(CDESRC)/types/hp.dt)
#endif
#ifdef RsArchitecture
LinkFile(ibm.dt.nls,$(CDESRC)/types/ibm.dt)
#endif

LinkFile(autoStart.dt.tmsg,_common.dt.tmsg)
LinkFile(user-prefs.dt.tmsg,_common.dt.tmsg)
LinkFile(uxstd.dt.tmsg,_common.dt.tmsg)
LinkFile(dt.dt.tmsg,_common.dt.tmsg)
LinkFile(develop.dt.tmsg,_common.dt.tmsg)
LinkFile(datatypes.dt.tmsg,_common.dt.tmsg)
LinkFile(dtappman.dt.tmsg,_common.dt.tmsg)
LinkFile(dtfile.dt.tmsg,_common.dt.tmsg)
LinkFile(dtims.dt.tmsg,_common.dt.tmsg)
LinkFile(dtinfo.dt.tmsg,_common.dt.tmsg)
LinkFile(dtpad.dt.tmsg,_common.dt.tmsg)
LinkFile(xclients.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelp.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelpprint.dt.tmsg,_common.dt.tmsg)
LinkFile(print.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelptag.dt.tmsg,_common.dt.tmsg)
LinkFile(dtmail.dt.tmsg,_common.dt.tmsg)
LinkFile(dtwm.fp.tmsg,_common.dt.tmsg)
LinkFile(dtscreen.dt.tmsg,_common.dt.tmsg)
LinkFile(dtcm.dt.tmsg,_common.dt.tmsg)
LinkFile(dtbuilder.dt.tmsg,_common.dt.tmsg)
LinkFile(miscActions.dt.tmsg,_common.dt.tmsg)
LinkFile(miscImages.dt.tmsg,_common.dt.tmsg)
LinkFile(IconBrowse.dt.tmsg,_common.dt.tmsg)

#ifdef HPArchitecture
LinkFile(hp.dt.tmsg,_common.dt.tmsg)
#endif
#ifdef RsArchitecture
LinkFile(ibm.dt.tmsg,_common.dt.tmsg)
#endif

DtstyleDescRule(autoStart.dt,autoStart.dt)
DtstyleDescRule(user-prefs.dt,user-prefs.dt)
DtstyleDescRule(uxstd.dt,uxstd.dt)
DtstyleDescRule(dt.dt,dt.dt)
DtstyleDescRule(develop.dt,develop.dt)
DtstyleDescRule(datatypes.dt,datatypes.dt)
DtstyleDescRule(dtappman.dt,dtappman.dt)
DtstyleDescRule(dtfile.dt,dtfile.dt)
DtstyleDescRule(dtims.dt,dtims.dt)
DtstyleDescRule(dtinfo.dt,dtinfo.dt)
DtstyleDescRule(dtpad.dt,dtpad.dt)
DtstyleDescRule(xclients.dt,xclients.dt)
DtstyleDescRule(dthelp.dt,dthelp.dt)
DtstyleDescRule(dthelpprint.dt,dthelpprint.dt)
DtstyleDescRule(print.dt,print.dt)
DtstyleDescRule(dthelptag.dt,dthelptag.dt)
DtstyleDescRule(dtmail.dt,dtmail.dt)
DtstyleDescRule(dtwm.fp,dtwm.fp)
DtstyleDescRule(action,action)
DtstyleDescRule(dtscreen.dt,dtscreen.dt)
DtstyleDescRule(dtcm.dt,dtcm.dt)
DtstyleDescRule(dtbuilder.dt,dtbuilder.dt)
DtstyleDescRule(miscActions.dt,miscActions.dt)
DtstyleDescRule(miscImages.dt,miscImages.dt)
DtstyleDescRule(IconBrowse.dt,IconBrowse.dt)

#ifdef HPArchitecture
DtstyleDescRule(hp.dt,hp.dt)
#endif
#ifdef RsArchitecture
DtstyleDescRule(ibm.dt,ibm.dt)
#endif

clean::
	$(RM) $(OBJS) $(OBJS2)
	for i in *.nls; do \
		[ -z $$i ] && continue; \
		[ -h $$i ] && $(RM) $$i; \
	done; true; 
	for i in $(OBJS); do \
		$(RM) $$i.tmsg; \
	done; true; 

