XCOMM $TOG: types.tmpl /main/9 1998/08/05 18:05:45 mgreess $

#ifdef RsArchitecture
SHELL=/bin/ksh
#endif


OBJS1 =  \
	autoStart.dt \
	user-prefs.dt  \
	uxstd.dt  \
	dt.dt  \
	develop.dt  \
	datatypes.dt  \
	dtappman.dt  \
	dtfile.dt  \
	dtims.dt \
	dtinfo.dt \
	dtpad.dt  \
	xclients.dt  \
	dthelp.dt  \
	dthelpprint.dt  \
	print.dt  \
	dthelptag.dt  \
	dtmail.dt  \
	dtwm.fp  \
	dtscreen.dt \
	dtcm.dt \
	dtbuilder.dt \
	miscActions.dt \
	miscImages.dt \
	IconBrowse.dt \
	DisplayImage.dt \
	DisplayPDF.dt \
	DisplayVideo.dt \
	DisplayPS.dt \
	videoTypes.dt \
	Education.dt \
	gcompris.dt \
	geogebra.dt \
	stellarium.dt \
	tuxpaint.dt \
	dreamchess.dt \
	eboard.dt \
	Games.dt \
	gcompris.dt \
	ktuberling.dt \
	lbreakout2.dt \
	powermanga.dt \
	pychess.dt \
	supertux.dt \
	xboard.dt \
	fontforge.dt \
	gimp.dt \
	Graphics.dt \
	inkscape.dt \
	okular.dt \
	xv.dt \
	chromium.dt \
	firefox.dt \
	Internet.dt \
	nxclient.dt \
	skype.dt \
	thunderbird.dt \
	amarok.dt \
	brasero.dt \
	k3b.dt \
	k9copy.dt \
	Media_Tools.dt \
	pavucontrol.dt \
	rhythmbox.dt \
	rosegarden.dt \
	sound-juicer.dt \
	vlc.dt \
	xine.dt \
	libreoffice-base.dt \
	libreoffice-calc.dt \
	libreoffice-draw.dt \
	libreoffice-impress.dt \
	libreoffice-main.dt \
	libreoffice-math.dt \
	libreoffice-writer.dt \
	nedit.dt \
	Office.dt \
	xournal.dt \
	caja.dt \
	engrampa.dt \
	file-roller.dt \
	firestarter.dt \
	pgadmin.dt \
	synaptic.dt \
	System.dt \
	virtualbox.dt \
	wicd.dt \
	acroread.dt \
	emacs.dt \
	gv.dt \
	kile.dt \
	mgv.dt \
	TeX.dt \
	xdvi.dt \
	xournal.dt \
	xpdf.dt 

OBJS = $(OBJS1)

#ifdef HPArchitecture
OBJS = $(OBJS1) hp.dt
#endif

#ifdef RsArchitecture
OBJS = $(OBJS1) ibm.dt
#endif

OBJS2 = action

all:: $(OBJS) $(OBJS2)

depend::


LinkFile(autoStart.dt.nls,$(CDESRC)/types/autoStart.dt)
LinkFile(user-prefs.dt.nls,$(CDESRC)/types/user-prefs.dt)
LinkFile(uxstd.dt.nls,$(CDESRC)/types/uxstd.dt)
LinkFile(dt.dt.nls,$(CDESRC)/types/dt.dt)
LinkFile(develop.dt.nls,$(CDESRC)/types/develop.dt)
LinkFile(datatypes.dt.nls,$(CDESRC)/types/datatypes.dt)
LinkFile(dtappman.dt.nls,$(CDESRC)/types/dtappman.dt)
LinkFile(dtfile.dt.nls,$(CDESRC)/types/dtfile.dt)
LinkFile(dtims.dt.nls,$(CDESRC)/types/dtims.dt)
LinkFile(dtinfo.dt.nls,$(CDESRC)/types/dtinfo.dt)
LinkFile(dtpad.dt.nls,$(CDESRC)/types/dtpad.dt)
LinkFile(xclients.dt.nls,$(CDESRC)/types/xclients.dt)
LinkFile(dthelp.dt.nls,$(CDESRC)/types/dthelp.dt)
LinkFile(dthelpprint.dt.nls,$(CDESRC)/types/dthelpprint.dt)
LinkFile(print.dt.nls,$(CDESRC)/types/print.dt)
LinkFile(dthelptag.dt.nls,$(CDESRC)/types/dthelptag.dt)
LinkFile(dtmail.dt.nls,$(CDESRC)/types/dtmail.dt)
LinkFile(dtwm.fp.nls,$(CDESRC)/types/dtwm.fp)
LinkFile(action.nls,$(CDESRC)/types/action)
LinkFile(dtscreen.dt.nls,$(CDESRC)/types/dtscreen.dt)
LinkFile(dtcm.dt.nls,$(CDESRC)/types/dtcm.dt)
LinkFile(dtbuilder.dt.nls,$(CDESRC)/types/dtbuilder.dt)
LinkFile(miscActions.dt.nls,$(CDESRC)/types/miscActions.dt)
LinkFile(miscImages.dt.nls,$(CDESRC)/types/miscImages.dt)
LinkFile(IconBrowse.dt.nls,$(CDESRC)/types/IconBrowse.dt)

LinkFile(DisplayImage.dt.nls,$(CDESRC)/types/DisplayImage.dt)
LinkFile(DisplayPDF.dt.nls,$(CDESRC)/types/DisplayPDF.dt)
LinkFile(DisplayVideo.dt.nls,$(CDESRC)/types/DisplayVideo.dt)
LinkFile(DisplayPS.dt.nls,$(CDESRC)/types/DisplayPS.dt)
LinkFile(acroread.dt.nls,$(CDESRC)/types/acroread.dt)
LinkFile(videoTypes.dt.nls,$(CDESRC)/types/videoTypes.dt)
LinkFile(amarok.dt.nls,$(CDESRC)/types/amarok.dt)
LinkFile(brasero.dt.nls,$(CDESRC)/types/brasero.dt)
LinkFile(caja.dt.nls,$(CDESRC)/types/caja.dt)
LinkFile(chromium.dt.nls,$(CDESRC)/types/chromium.dt)
LinkFile(dreamchess.dt.nls,$(CDESRC)/types/dreamchess.dt)
LinkFile(eboard.dt.nls,$(CDESRC)/types/eboard.dt)
LinkFile(Education.dt.nls,$(CDESRC)/types/Education.dt)
LinkFile(emacs.dt.nls,$(CDESRC)/types/emacs.dt)
LinkFile(engrampa.dt.nls,$(CDESRC)/types/engrampa.dt)
LinkFile(file-roller.dt.nls,$(CDESRC)/types/file-roller.dt)
LinkFile(firefox.dt.nls,$(CDESRC)/types/firefox.dt)
LinkFile(firestarter.dt.nls,$(CDESRC)/types/firestarter.dt)
LinkFile(fontforge.dt.nls,$(CDESRC)/types/fontforge.dt)
LinkFile(Games.dt.nls,$(CDESRC)/types/Games.dt)
LinkFile(gcompris.dt.nls,$(CDESRC)/types/gcompris.dt)
LinkFile(geogebra.dt.nls,$(CDESRC)/types/geogebra.dt)
LinkFile(gimp.dt.nls,$(CDESRC)/types/gimp.dt)
LinkFile(Graphics.dt.nls,$(CDESRC)/types/Graphics.dt)
LinkFile(gv.dt.nls,$(CDESRC)/types/gv.dt)
LinkFile(inkscape.dt.nls,$(CDESRC)/types/inkscape.dt)
LinkFile(Internet.dt.nls,$(CDESRC)/types/Internet.dt)
LinkFile(k3b.dt.nls,$(CDESRC)/types/k3b.dt)
LinkFile(k9copy.dt.nls,$(CDESRC)/types/k9copy.dt)
LinkFile(kile.dt.nls,$(CDESRC)/types/kile.dt)
LinkFile(ktuberling.dt.nls,$(CDESRC)/types/ktuberling.dt)
LinkFile(lbreakout2.dt.nls,$(CDESRC)/types/lbreakout2.dt)
LinkFile(libreoffice-base.dt.nls,$(CDESRC)/types/libreoffice-base.dt)
LinkFile(libreoffice-calc.dt.nls,$(CDESRC)/types/libreoffice-calc.dt)
LinkFile(libreoffice-draw.dt.nls,$(CDESRC)/types/libreoffice-draw.dt)
LinkFile(libreoffice-impress.dt.nls,$(CDESRC)/types/libreoffice-impress.dt)
LinkFile(libreoffice-main.dt.nls,$(CDESRC)/types/libreoffice-main.dt)
LinkFile(libreoffice-math.dt.nls,$(CDESRC)/types/libreoffice-math.dt)
LinkFile(libreoffice-writer.dt.nls,$(CDESRC)/types/libreoffice-writer.dt)
LinkFile(Media_Tools.dt.nls,$(CDESRC)/types/Media_Tools.dt)
LinkFile(mgv.dt.nls,$(CDESRC)/types/mgv.dt)
LinkFile(nedit.dt.nls,$(CDESRC)/types/nedit.dt)
LinkFile(nxclient.dt.nls,$(CDESRC)/types/nxclient.dt)
LinkFile(Office.dt.nls,$(CDESRC)/types/Office.dt)
LinkFile(okular.dt.nls,$(CDESRC)/types/okular.dt)
LinkFile(pavucontrol.dt.nls,$(CDESRC)/types/pavucontrol.dt)
LinkFile(pgadmin.dt.nls,$(CDESRC)/types/pgadmin.dt)
LinkFile(powermanga.dt.nls,$(CDESRC)/types/powermanga.dt)
LinkFile(pychess.dt.nls,$(CDESRC)/types/pychess.dt)
LinkFile(rhythmbox.dt.nls,$(CDESRC)/types/rhythmbox.dt)
LinkFile(rosegarden.dt.nls,$(CDESRC)/types/rosegarden.dt)
LinkFile(skype.dt.nls,$(CDESRC)/types/skype.dt)
LinkFile(sound-juicer.dt.nls,$(CDESRC)/types/sound-juicer.dt)
LinkFile(stellarium.dt.nls,$(CDESRC)/types/stellarium.dt)
LinkFile(supertux.dt.nls,$(CDESRC)/types/supertux.dt)
LinkFile(synaptic.dt.nls,$(CDESRC)/types/synaptic.dt)
LinkFile(System.dt.nls,$(CDESRC)/types/System.dt)
LinkFile(TeX.dt.nls,$(CDESRC)/types/TeX.dt)
LinkFile(thunderbird.dt.nls,$(CDESRC)/types/thunderbird.dt)
LinkFile(tuxpaint.dt.nls,$(CDESRC)/types/tuxpaint.dt)
LinkFile(virtualbox.dt.nls,$(CDESRC)/types/virtualbox.dt)
LinkFile(vlc.dt.nls,$(CDESRC)/types/vlc.dt)
LinkFile(wicd.dt.nls,$(CDESRC)/types/wicd.dt)
LinkFile(xboard.dt.nls,$(CDESRC)/types/xboard.dt)
LinkFile(xdvi.dt.nls,$(CDESRC)/types/xdvi.dt)
LinkFile(xine.dt.nls,$(CDESRC)/types/xine.dt)
LinkFile(xournal.dt.nls,$(CDESRC)/types/xournal.dt)
LinkFile(xpdf.dt.nls,$(CDESRC)/types/xpdf.dt)
LinkFile(xv.dt.nls,$(CDESRC)/types/xv.dt)

#ifdef HPArchitecture
LinkFile(hp.dt.nls,$(CDESRC)/types/hp.dt)
#endif
#ifdef RsArchitecture
LinkFile(ibm.dt.nls,$(CDESRC)/types/ibm.dt)
#endif

LinkFile(autoStart.dt.tmsg,_common.dt.tmsg)
LinkFile(user-prefs.dt.tmsg,_common.dt.tmsg)
LinkFile(uxstd.dt.tmsg,_common.dt.tmsg)
LinkFile(dt.dt.tmsg,_common.dt.tmsg)
LinkFile(develop.dt.tmsg,_common.dt.tmsg)
LinkFile(datatypes.dt.tmsg,_common.dt.tmsg)
LinkFile(dtappman.dt.tmsg,_common.dt.tmsg)
LinkFile(dtfile.dt.tmsg,_common.dt.tmsg)
LinkFile(dtims.dt.tmsg,_common.dt.tmsg)
LinkFile(dtinfo.dt.tmsg,_common.dt.tmsg)
LinkFile(dtpad.dt.tmsg,_common.dt.tmsg)
LinkFile(xclients.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelp.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelpprint.dt.tmsg,_common.dt.tmsg)
LinkFile(print.dt.tmsg,_common.dt.tmsg)
LinkFile(dthelptag.dt.tmsg,_common.dt.tmsg)
LinkFile(dtmail.dt.tmsg,_common.dt.tmsg)
LinkFile(dtwm.fp.tmsg,_common.dt.tmsg)
LinkFile(dtscreen.dt.tmsg,_common.dt.tmsg)
LinkFile(dtcm.dt.tmsg,_common.dt.tmsg)
LinkFile(dtbuilder.dt.tmsg,_common.dt.tmsg)
LinkFile(miscActions.dt.tmsg,_common.dt.tmsg)
LinkFile(miscImages.dt.tmsg,_common.dt.tmsg)
LinkFile(IconBrowse.dt.tmsg,_common.dt.tmsg)

LinkFile(DisplayImage.dt.tmsg,_common.dt.tmsg)
LinkFile(DisplayPDF.dt.tmsg,_common.dt.tmsg)
LinkFile(DisplayVideo.dt.tmsg,_common.dt.tmsg)
LinkFile(DisplayPS.dt.tmsg,_common.dt.tmsg)
LinkFile(acroread.dt.tmsg,_common.dt.tmsg)
LinkFile(videoTypes.dt.tmsg,_common.dt.tmsg)
LinkFile(amarok.dt.tmsg,_common.dt.tmsg)
LinkFile(brasero.dt.tmsg,_common.dt.tmsg)
LinkFile(caja.dt.tmsg,_common.dt.tmsg)
LinkFile(chromium.dt.tmsg,_common.dt.tmsg)
LinkFile(dreamchess.dt.tmsg,_common.dt.tmsg)
LinkFile(eboard.dt.tmsg,_common.dt.tmsg)
LinkFile(Education.dt.tmsg,_common.dt.tmsg)
LinkFile(emacs.dt.tmsg,_common.dt.tmsg)
LinkFile(engrampa.dt.tmsg,_common.dt.tmsg)
LinkFile(file-roller.dt.tmsg,_common.dt.tmsg)
LinkFile(firefox.dt.tmsg,_common.dt.tmsg)
LinkFile(firestarter.dt.tmsg,_common.dt.tmsg)
LinkFile(fontforge.dt.tmsg,_common.dt.tmsg)
LinkFile(Games.dt.tmsg,_common.dt.tmsg)
LinkFile(gcompris.dt.tmsg,_common.dt.tmsg)
LinkFile(geogebra.dt.tmsg,_common.dt.tmsg)
LinkFile(gimp.dt.tmsg,_common.dt.tmsg)
LinkFile(Graphics.dt.tmsg,_common.dt.tmsg)
LinkFile(gv.dt.tmsg,_common.dt.tmsg)
LinkFile(inkscape.dt.tmsg,_common.dt.tmsg)
LinkFile(Internet.dt.tmsg,_common.dt.tmsg)
LinkFile(k3b.dt.tmsg,_common.dt.tmsg)
LinkFile(k9copy.dt.tmsg,_common.dt.tmsg)
LinkFile(kile.dt.tmsg,_common.dt.tmsg)
LinkFile(ktuberling.dt.tmsg,_common.dt.tmsg)
LinkFile(lbreakout2.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-base.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-calc.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-draw.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-impress.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-main.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-math.dt.tmsg,_common.dt.tmsg)
LinkFile(libreoffice-writer.dt.tmsg,_common.dt.tmsg)
LinkFile(Media_Tools.dt.tmsg,_common.dt.tmsg)
LinkFile(mgv.dt.tmsg,_common.dt.tmsg)
LinkFile(nedit.dt.tmsg,_common.dt.tmsg)
LinkFile(nxclient.dt.tmsg,_common.dt.tmsg)
LinkFile(Office.dt.tmsg,_common.dt.tmsg)
LinkFile(okular.dt.tmsg,_common.dt.tmsg)
LinkFile(pavucontrol.dt.tmsg,_common.dt.tmsg)
LinkFile(pgadmin.dt.tmsg,_common.dt.tmsg)
LinkFile(powermanga.dt.tmsg,_common.dt.tmsg)
LinkFile(pychess.dt.tmsg,_common.dt.tmsg)
LinkFile(rhythmbox.dt.tmsg,_common.dt.tmsg)
LinkFile(rosegarden.dt.tmsg,_common.dt.tmsg)
LinkFile(skype.dt.tmsg,_common.dt.tmsg)
LinkFile(sound-juicer.dt.tmsg,_common.dt.tmsg)
LinkFile(stellarium.dt.tmsg,_common.dt.tmsg)
LinkFile(supertux.dt.tmsg,_common.dt.tmsg)
LinkFile(synaptic.dt.tmsg,_common.dt.tmsg)
LinkFile(System.dt.tmsg,_common.dt.tmsg)
LinkFile(TeX.dt.tmsg,_common.dt.tmsg)
LinkFile(thunderbird.dt.tmsg,_common.dt.tmsg)
LinkFile(tuxpaint.dt.tmsg,_common.dt.tmsg)
LinkFile(virtualbox.dt.tmsg,_common.dt.tmsg)
LinkFile(vlc.dt.tmsg,_common.dt.tmsg)
LinkFile(wicd.dt.tmsg,_common.dt.tmsg)
LinkFile(xboard.dt.tmsg,_common.dt.tmsg)
LinkFile(xdvi.dt.tmsg,_common.dt.tmsg)
LinkFile(xine.dt.tmsg,_common.dt.tmsg)
LinkFile(xournal.dt.tmsg,_common.dt.tmsg)
LinkFile(xpdf.dt.tmsg,_common.dt.tmsg)
LinkFile(xv.dt.tmsg,_common.dt.tmsg)

#ifdef HPArchitecture
LinkFile(hp.dt.tmsg,_common.dt.tmsg)
#endif
#ifdef RsArchitecture
LinkFile(ibm.dt.tmsg,_common.dt.tmsg)
#endif

DtstyleDescRule(autoStart.dt,autoStart.dt)
DtstyleDescRule(user-prefs.dt,user-prefs.dt)
DtstyleDescRule(uxstd.dt,uxstd.dt)
DtstyleDescRule(dt.dt,dt.dt)
DtstyleDescRule(develop.dt,develop.dt)
DtstyleDescRule(datatypes.dt,datatypes.dt)
DtstyleDescRule(dtappman.dt,dtappman.dt)
DtstyleDescRule(dtfile.dt,dtfile.dt)
DtstyleDescRule(dtims.dt,dtims.dt)
DtstyleDescRule(dtinfo.dt,dtinfo.dt)
DtstyleDescRule(dtpad.dt,dtpad.dt)
DtstyleDescRule(xclients.dt,xclients.dt)
DtstyleDescRule(dthelp.dt,dthelp.dt)
DtstyleDescRule(dthelpprint.dt,dthelpprint.dt)
DtstyleDescRule(print.dt,print.dt)
DtstyleDescRule(dthelptag.dt,dthelptag.dt)
DtstyleDescRule(dtmail.dt,dtmail.dt)
DtstyleDescRule(dtwm.fp,dtwm.fp)
DtstyleDescRule(action,action)
DtstyleDescRule(dtscreen.dt,dtscreen.dt)
DtstyleDescRule(dtcm.dt,dtcm.dt)
DtstyleDescRule(dtbuilder.dt,dtbuilder.dt)
DtstyleDescRule(miscActions.dt,miscActions.dt)
DtstyleDescRule(miscImages.dt,miscImages.dt)
DtstyleDescRule(IconBrowse.dt,IconBrowse.dt)

DtstyleDescRule(DisplayImage.dt,DisplayImage.dt)
DtstyleDescRule(DisplayPDF.dt,DisplayPDF.dt)
DtstyleDescRule(DisplayVideo.dt,DisplayVideo.dt)
DtstyleDescRule(DisplayPS.dt,DisplayPS.dt)
DtstyleDescRule(acroread.dt,acroread.dt)
DtstyleDescRule(videoTypes.dt,videoTypes.dt)
DtstyleDescRule(amarok.dt,amarok.dt)
DtstyleDescRule(brasero.dt,brasero.dt)
DtstyleDescRule(caja.dt,caja.dt)
DtstyleDescRule(chromium.dt,chromium.dt)
DtstyleDescRule(dreamchess.dt,dreamchess.dt)
DtstyleDescRule(eboard.dt,eboard.dt)
DtstyleDescRule(Education.dt,Education.dt)
DtstyleDescRule(emacs.dt,emacs.dt)
DtstyleDescRule(engrampa.dt,engrampa.dt)
DtstyleDescRule(file-roller.dt,file-roller.dt)
DtstyleDescRule(firefox.dt,firefox.dt)
DtstyleDescRule(firestarter.dt,firestarter.dt)
DtstyleDescRule(fontforge.dt,fontforge.dt)
DtstyleDescRule(Games.dt,Games.dt)
DtstyleDescRule(gcompris.dt,gcompris.dt)
DtstyleDescRule(geogebra.dt,geogebra.dt)
DtstyleDescRule(gimp.dt,gimp.dt)
DtstyleDescRule(Graphics.dt,Graphics.dt)
DtstyleDescRule(gv.dt,gv.dt)
DtstyleDescRule(inkscape.dt,inkscape.dt)
DtstyleDescRule(Internet.dt,Internet.dt)
DtstyleDescRule(k3b.dt,k3b.dt)
DtstyleDescRule(k9copy.dt,k9copy.dt)
DtstyleDescRule(kile.dt,kile.dt)
DtstyleDescRule(ktuberling.dt,ktuberling.dt)
DtstyleDescRule(lbreakout2.dt,lbreakout2.dt)
DtstyleDescRule(libreoffice-base.dt,libreoffice-base.dt)
DtstyleDescRule(libreoffice-calc.dt,libreoffice-calc.dt)
DtstyleDescRule(libreoffice-draw.dt,libreoffice-draw.dt)
DtstyleDescRule(libreoffice-impress.dt,libreoffice-impress.dt)
DtstyleDescRule(libreoffice-main.dt,libreoffice-main.dt)
DtstyleDescRule(libreoffice-math.dt,libreoffice-math.dt)
DtstyleDescRule(libreoffice-writer.dt,libreoffice-writer.dt)
DtstyleDescRule(Media_Tools.dt,Media_Tools.dt)
DtstyleDescRule(mgv.dt,mgv.dt)
DtstyleDescRule(nedit.dt,nedit.dt)
DtstyleDescRule(nxclient.dt,nxclient.dt)
DtstyleDescRule(Office.dt,Office.dt)
DtstyleDescRule(okular.dt,okular.dt)
DtstyleDescRule(pavucontrol.dt,pavucontrol.dt)
DtstyleDescRule(pgadmin.dt,pgadmin.dt)
DtstyleDescRule(powermanga.dt,powermanga.dt)
DtstyleDescRule(pychess.dt,pychess.dt)
DtstyleDescRule(rhythmbox.dt,rhythmbox.dt)
DtstyleDescRule(rosegarden.dt,rosegarden.dt)
DtstyleDescRule(skype.dt,skype.dt)
DtstyleDescRule(sound-juicer.dt,sound-juicer.dt)
DtstyleDescRule(stellarium.dt,stellarium.dt)
DtstyleDescRule(supertux.dt,supertux.dt)
DtstyleDescRule(synaptic.dt,synaptic.dt)
DtstyleDescRule(System.dt,System.dt)
DtstyleDescRule(TeX.dt,TeX.dt)
DtstyleDescRule(thunderbird.dt,thunderbird.dt)
DtstyleDescRule(tuxpaint.dt,tuxpaint.dt)
DtstyleDescRule(virtualbox.dt,virtualbox.dt)
DtstyleDescRule(vlc.dt,vlc.dt)
DtstyleDescRule(wicd.dt,wicd.dt)
DtstyleDescRule(xboard.dt,xboard.dt)
DtstyleDescRule(xdvi.dt,xdvi.dt)
DtstyleDescRule(xine.dt,xine.dt)
DtstyleDescRule(xournal.dt,xournal.dt)
DtstyleDescRule(xpdf.dt,xpdf.dt)
DtstyleDescRule(xv.dt,xv.dt)


#ifdef HPArchitecture
DtstyleDescRule(hp.dt,hp.dt)
#endif
#ifdef RsArchitecture
DtstyleDescRule(ibm.dt,ibm.dt)
#endif

#define NLS_CLEAN \							@@\
	for i in *.nls; do \						@@\
		[ -z $$i ] && continue; \				@@\
		[ -h $$i ] && $(RM) $$i; \				@@\
	done; true;

#define OBJS_CLEAN \							@@\
	for i in $(OBJS); do \						@@\
		$(RM) $$i.tmsg; \					@@\
	done; true;

clean::
	$(RM) $(OBJS) $(OBJS2)
	NLS_CLEAN
	OBJS_CLEAN

