XCOMM $XConsortium: Imakefile.tmpl /main/8 1996/10/30 18:57:11 rws $
/*
 * Master Imakefile to be included in the Imakefile of the help subdir of
 * each locale.
 * The list of volumes to be built for each locale is triggered by the related
 * macros to be defined in the local Imakefile. 
 */

SDLDIR = ../help-sdl
#if UseNSGMLS
DBENV = LANG=$(LANG) SGML_SEARCH_PATH=".:.."
#else
DBENV = LANG=$(LANG)
#endif

#ifdef HasAppmanager
APPMANAGER_SRCS = \
    Appmanager/GEntity.sgm   Appmanager/TOC.sgm \
    Appmanager/Home.sgm      Appmanager/Tasks.sgm \
    Appmanager/MetaInfo.sgm  Appmanager/book.sgm \
    Appmanager/Ref.sgm    

MakeSdlVolume(Appmanager,$(SDLDIR),$(DBENV),$(DBOPTS),$(APPMANAGER_SRCS))
#endif

#ifdef HasAppBuilder
APPBUILDER_SRCS = \
    AppBuilder/Concepts.sgm  AppBuilder/MetaInfo.sgm  AppBuilder/book.sgm \
    AppBuilder/GEntity.sgm   AppBuilder/Ref.sgm \
    AppBuilder/Home.sgm      AppBuilder/Tasks.sgm    

MakeSdlVolume(AppBuilder,$(SDLDIR),$(DBENV),$(DBOPTS),$(APPBUILDER_SRCS))
#endif

#ifdef HasCalculator
CALCULATOR_SRCS = \
    Calculator/GEntity.sgm   Calculator/Ref.sgm       Calculator/book.sgm \
    Calculator/Home.sgm      Calculator/TOC.sgm \
    Calculator/MetaInfo.sgm  Calculator/Tasks.sgm    

MakeSdlVolume(Calculator,$(SDLDIR),$(DBENV),$(DBOPTS),$(CALCULATOR_SRCS))
#endif

#ifdef HasCalendar
CALENDAR_SRCS = \
    Calendar/Appendix.sgm  Calendar/MetaInfo.sgm  Calendar/Tasks.sgm \
    Calendar/GEntity.sgm   Calendar/Ref.sgm       Calendar/book.sgm \
    Calendar/Home.sgm      Calendar/TOC.sgm    

MakeSdlVolume(Calendar,$(SDLDIR),$(DBENV),$(DBOPTS),$(CALENDAR_SRCS))
#endif

#ifdef HasCreatAct
CREATACT_SRCS = \
    CreatAct/GEntity.sgm   CreatAct/Ref.sgm       CreatAct/book.sgm \
    CreatAct/Home.sgm      CreatAct/TOC.sgm \
    CreatAct/MetaInfo.sgm  CreatAct/Tasks.sgm    

MakeSdlVolume(CreatAct,$(SDLDIR),$(DBENV),$(DBOPTS),$(CREATACT_SRCS))
#endif

#ifdef HasFPanel
FPANEL_SRCS = \
    FPanel/Appendix.sgm  FPanel/MetaInfo.sgm  FPanel/Using.sgm \
    FPanel/GEntity.sgm   FPanel/Ref.sgm       FPanel/book.sgm \
    FPanel/Home.sgm      FPanel/TOC.sgm    

MakeSdlVolume(FPanel,$(SDLDIR),$(DBENV),$(DBOPTS),$(FPANEL_SRCS))
#endif

#ifdef HasFilemgr
FILEMGR_SRCS = \
    Filemgr/Concepts.sgm  Filemgr/Messages.sgm  Filemgr/TOC.sgm \
    Filemgr/GEntity.sgm   Filemgr/MetaInfo.sgm  Filemgr/Tasks.sgm \
    Filemgr/Home.sgm      Filemgr/Ref.sgm       Filemgr/book.sgm    

MakeSdlVolume(Filemgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(FILEMGR_SRCS))
#endif

#ifdef HasHelp4Help
HELP4HELP_SRCS = \
    Help4Help/Appendix.sgm  Help4Help/Ref.sgm \
    Help4Help/Concepts.sgm  Help4Help/TOC.sgm \
    Help4Help/GEntity.sgm   Help4Help/Tasks.sgm \
    Help4Help/Home.sgm      Help4Help/book.sgm \
    Help4Help/MetaInfo.sgm    

MakeSdlVolume(Help4Help,$(SDLDIR),$(DBENV),$(DBOPTS),$(HELP4HELP_SRCS))
#endif

#ifdef HasIconed
ICONED_SRCS = \
    Iconed/Concepts.sgm  Iconed/MetaInfo.sgm  Iconed/Tasks.sgm \
    Iconed/GEntity.sgm   Iconed/Ref.sgm       Iconed/book.sgm \
    Iconed/Home.sgm      Iconed/TOC.sgm    

MakeSdlVolume(Iconed,$(SDLDIR),$(DBENV),$(DBOPTS),$(ICONED_SRCS))
#endif

#ifdef HasInfomgr
INFOMGR_SRCS = \
    Infomgr/Home.sgm      Infomgr/Ref.sgm \
    Infomgr/MetaInfo.sgm  Infomgr/book.sgm

MakeSdlVolume(Infomgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(INFOMGR_SRCS))
#endif

#ifdef HasIntromgr
INTROMGR_SRCS = \
    Intromgr/Appendix.sgm  Intromgr/Home.sgm      Intromgr/Overview.sgm \
    Intromgr/GEntity.sgm   Intromgr/Keyboard.sgm  Intromgr/Windows.sgm \
    Intromgr/Help.sgm      Intromgr/MetaInfo.sgm  Intromgr/book.sgm    

MakeSdlVolume(Intromgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(INTROMGR_SRCS))
#endif

#ifdef HasLibDtPrint
LIBDTPRINT_SRCS = \
    LibDtPrint/GEntity.sgm  LibDtPrint/Home.sgm   LibDtPrint/MetaInfo.sgm \
    LibDtPrint/book.sgm     LibDtPrint/Ref.sgm

MakeSdlVolume(LibDtPrint,$(SDLDIR),$(DBENV),$(DBOPTS),$(LIBDTPRINT_SRCS))
#endif

#ifdef HasLoginmgr
LOGINMGR_SRCS = \
    Loginmgr/Concepts.sgm  Loginmgr/Ref.sgm       Loginmgr/book.sgm \
    Loginmgr/Home.sgm      Loginmgr/TOC.sgm \
    Loginmgr/MetaInfo.sgm  Loginmgr/Tasks.sgm    

MakeSdlVolume(Loginmgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(LOGINMGR_SRCS))
#endif

#ifdef HasMailer
MAILER_SRCS = \
    Mailer/Messages.sgm  Mailer/TOC.sgm \
    Mailer/GEntity.sgm   Mailer/MetaInfo.sgm  Mailer/Tasks.sgm \
    Mailer/Home.sgm      Mailer/Ref.sgm       Mailer/book.sgm    

MakeSdlVolume(Mailer,$(SDLDIR),$(DBENV),$(DBOPTS),$(MAILER_SRCS))
#endif

#ifdef HasPrintmgr
PRINTMGR_SRCS = \
    Printmgr/GEntity.sgm   Printmgr/Ref.sgm       Printmgr/book.sgm \
    Printmgr/Home.sgm      Printmgr/TOC.sgm \
    Printmgr/MetaInfo.sgm  Printmgr/Tasks.sgm    

MakeSdlVolume(Printmgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(PRINTMGR_SRCS))
#endif

#ifdef HasPrnSetup
PRNSETUP_SRCS = \
    PrnSetup/GEntity.sgm    PrnSetup/Home.sgm     PrnSetup/MetaInfo.sgm \
    PrnSetup/book.sgm       PrnSetup/prnset.sgm

MakeSdlVolume(PrnSetup,$(SDLDIR),$(DBENV),$(DBOPTS),$(PRNSETUP_SRCS))
#endif

#ifdef HasStylemgr
STYLEMGR_SRCS = \
    Stylemgr/Concepts.sgm  Stylemgr/MetaInfo.sgm  Stylemgr/Tasks.sgm \
    Stylemgr/GEntity.sgm   Stylemgr/Ref.sgm       Stylemgr/book.sgm \
    Stylemgr/Home.sgm      Stylemgr/TOC.sgm    

MakeSdlVolume(Stylemgr,$(SDLDIR),$(DBENV),$(DBOPTS),$(STYLEMGR_SRCS))
#endif

#ifdef HasTerminal
TERMINAL_SRCS = \
    Terminal/GEntity.sgm   Terminal/Ref.sgm       Terminal/book.sgm \
    Terminal/Home.sgm      Terminal/TOC.sgm \
    Terminal/MetaInfo.sgm  Terminal/Tasks.sgm    

MakeSdlVolume(Terminal,$(SDLDIR),$(DBENV),$(DBOPTS),$(TERMINAL_SRCS))
#endif

#ifdef HasTextedit
TEXTEDIT_SRCS = \
    Textedit/GEntity.sgm   Textedit/Ref.sgm       Textedit/book.sgm \
    Textedit/Home.sgm      Textedit/TOC.sgm \
    Textedit/MetaInfo.sgm  Textedit/Tasks.sgm    

MakeSdlVolume(Textedit,$(SDLDIR),$(DBENV),$(DBOPTS),$(TEXTEDIT_SRCS))
#endif
