[Desktop Entry]
Name=CDE
Comment=Use this session to boot into the Common Desktop Environment
Keywords=Common Desktop Environment
Exec=/usr/dt/bin/Xsession
Icon=Dtlogo.pm
Type=Application
