/* $XConsortium: Title.tmpl /main/2 1996/06/19 16:32:43 drk $ */
/* TOC title, only what's between quotes should be modified. */
title = "Gu&iacute;a del Usuario Avanzado y del Administrador del Sistema"
